
<div class="card-container">
  <mat-card *ngFor="let credential of credentials" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-content>
      <div [innerHTML]="credential.value"></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="deleteCredential(credential.value)">DELETE</button>
      <button mat-button (click)="shareCredential(credential.value)">SHARE</button>
        <button id="ValidButton" 
        mat-flat-button
        [ngStyle]="{ 'background-color': credential.valid ? 'green' : 'red' }">
        {{ credential.valid ? 'VALID' : 'NOT VALID' }}
    </button>
    </mat-card-actions>
  </mat-card>
</div>