<form class="example-form-field">
  <!-- Container for all form fields -->
  <div class="form-container">
     <!-- optional Dropdown for choosing preconfigured scenarios -->
     <div class="form-item">
        <mat-form-field appearance="fill" class="full-width">
           <mat-label>Preconfigured scenarios</mat-label>
           <mat-select (selectionChange)="selectPreconfiguredScenario($event.value)" >
              @for (scenario of scenarios; track scenario) {
              <mat-option [value]="scenario">{{scenario}}</mat-option>
              }
           </mat-select>
        </mat-form-field>
     </div>
     <!-- Field for specifying the type -->
     <div class="form-item">
        <mat-form-field appearance="fill" class="full-width">
           <mat-label>Types</mat-label>
           <input
           matInput
           placeholder="Enter types besides the VerifiableCredential type"
           [(ngModel)]="types"
           name="Types"
           />
        </mat-form-field>
     </div>
     <!-- Field for entering attributes in JSON-LD format -->
     <div class="form-item">
        <mat-form-field appearance="fill" class="full-width">
           <mat-label>Attributes (JSON-LD)</mat-label>
           <textarea
           matInput
           placeholder="Enter the attributes of the subject in JSON-LD format"
           [(ngModel)]="subjectAttributes"
           name="jsonldAttributes"
           rows="5"
           ></textarea>
        </mat-form-field>
     </div>
     <!-- Field for specifying required credentials -->
     <div class="form-item">
        <mat-form-field appearance="fill" class="full-width">
           <mat-label>Required Credentials</mat-label>
           <input
           matInput
           placeholder="Enter required credentials"
           [(ngModel)]="requiredCredentials"
           name="requiredCredentials"
           />
        </mat-form-field>
     </div>
     <!-- Field for specifying the subject DID -->
     <div class="form-item">
        <mat-form-field appearance="fill" class="full-width">
           <mat-label>Subject DID</mat-label>
           <input
           matInput
           placeholder="Enter the subject DID"
           [(ngModel)]="subjectDid"
           name="subjectDid"
           />
        </mat-form-field>
     </div>
     <!-- Button to generate credential -->
     <div class="form-item">
        <button mat-stroked-button (click)="startIssuanceServer()">Generate Credential</button>
     </div>
  </div>
</form>